@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

.card {
    width: 100%;
    max-width: 700px;
    border: 1px solid rgba(129, 205, 198, 1);
    border-radius: 8px;
    margin: 15px auto;
    padding: 24px;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.error {
    color: red;
    font-size: .8rem
}

.errorInput {
    border: 1px solid red;
}

/* Buttons */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    transition: background-color 0.2s;
    font-size: 1.3rem;
}

.btn-primary  {
    background: rgba(129, 205, 198, 1);
}

.btn-rounded {
    border-radius: 50px;
}